@import url('./font.css');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   font-size: 16px;
   scroll-behavior: smooth;
}
body {
	background-color: #202123;
   color: #fff;
}
h2, h3, h4, h5, h6 {
   font-family: Sprintura;
}
h1{
   font-family: Rostex;
   font-size: 3rem;
}
h2{
   font-size: 2rem;
}
h3{
   font-size: 1.5rem;
}
p{
   font-family: Jost;
}
small{
   font-family: Inter;
}
.nav-wrapper {
   background-color: #26A69A;
}

.card {
   background-color: rgba(255,255,255,0.2);
}
.project-list{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content:space-evenly;
   gap: 20px;
}

.card-project {
   cursor: pointer;
   transition: all .3s ease;
   width: 25%;
   max-width: 400px;
   min-width: 300px;
   height: 500px;
   padding-bottom: 30px;
   margin: 30px;
   clip-path: polygon(30px 0%, calc(100% - 30px) 0%, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0% calc(100% - 30px), 0% 30px);
}
.main-title{
   margin: 30px auto;
   width: auto;
   text-align: center;
   font-family: Rostex;
} 
.card-content {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.card-bottom {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
   width: calc(100% - 60px);
   margin: 0 auto;
   margin-top: auto;
   border-top: #202123 solid 1px ;

}
.card-text{
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: space-evenly;
   justify-content: center;
   gap: 10px;
   text-align: center;
   padding: 0 20px;
}
.project-logo
{
   object-fit: cover;

   max-height: 8vh;

   width: 100%;
   max-height: 250px;
}

@media (max-width: 1300px) and (min-width: 950px) {
   .card-article:first-child
   {
      margin-left: 0.5rem!important;
   }

   .col:has(.card-article)
   {
      margin-left: 120px!important;
   }

   .col:has(.card-article):first-child
   {
      margin-left: 0.5rem!important;
   }
}

@media only screen and (min-width: 1300px) {
   .card-article:first-child
   {
      margin-left: 0.5rem!important;
   }

   .col:has(.card-article)
   {
      margin-left: 80px!important;
   }

   .col:has(.card-article):first-child
   {
      margin-left: 0.5rem!important;
   }
}


@media only screen and (min-width: 950px) {
   .card-article:first-child
   {
      margin-left: 0.5rem!important;
   }

   .col:has(.card-article)
   {
      margin-left: 150px!important;
   }

   .col:has(.card-article):first-child
   {
      margin-left: 0.5rem!important;
   }
}

@media only screen and (max-width: 950px) {
   .col:has(.card-article)
   {
      margin-right: 50vw!important;
   }
}




.card-article{
   cursor: pointer;
   transition: all .3s ease;

   max-width: 20vw;
   min-width: 300px;
   
}
 
.card-project:hover {
   border: 3px solid var(--primary-color);
   opacity: 0.9;
}

.card-article:hover  {
   border: 3px solid var(--primary-color);
   opacity: 0.85;
}



.btn {
   background-color: #EE6F73;
}

.img-logo {
   border-radius: 25px;
   max-height: 5vh;

   
   /*margin: 5px;*/
}

.brand-logo
{
   margin: 5px;
   margin-left: 15px;
}



.project-img-big
{
   border-radius: 15px;

   margin-left: 25px;
   margin-top: 25px;

   margin-right: 15px;

   vertical-align: top;

   width: 300px;
   max-height: 500px;
}

.article-top-background
{
   width: 100%;
   max-height: 20vh;
   object-fit: cover;

   mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1) 75%, rgba(0,0,0,0));
}

.article-top-hr1 {
   opacity: 0.5;
}

.article-card-title
{
   backdrop-filter: blur(1px) saturate(70%) brightness(50%);
   border-radius: 0 5px 0 0;

   max-height: 100%;
}

@media only screen and (max-width: 1100px) {
   .card-article
   {
      
   }
}



#cusdis_thread iframe
{
   min-height: 100vh;

}

html, :root
{
   color-scheme: dark!important; 
   prefers-color-scheme: dark!important;
}

#article-markdown ol,
#article-markdown ul {
    list-style-type: decimal;
}
#article-markdown img
{
   min-width: 50vw;
   max-width: 70vw;

   margin: 5px;

   overflow: visible;
}

#article-markdown video
{
   min-width: 50vw;
   max-width: 70vw;

   margin: 5px;

   overflow: visible;
}

.carousel
{
   margin-bottom: 10px;
   overflow: visible!important;
}

p {
   text-size-adjust: 250%;
}